
.card {
  position: relative;
  background: rgba(196, 196, 196, 0.4);
  display: inline-block;
  padding: 30px;
  width: 300px;
  min-height: 540px;
  height: auto;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Padauk', sans-serif;
}

.card .head .likes, .card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .head .likes {
  justify-content: flex-start;
  color: #808080;
}


.card .head .discount button {
  background: orangered;
  display: inline-block;
}

.card .head .likes p {
  font-size: 12px;
}

.card .head .likes .ion_md_heart {
  margin-right: 10px;
  font-size: 17px;
  color: #808080;
  cursor: pointer;
}


.card .product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}


.card .text p {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.card .text h4 {
  font-size: 22px;
}

.card .text h3 {
  margin: 15px 0;
  font-size: 18px;
}

.card .text {
  text-align: center;
}

.card .footer {
  position: absolute;
  bottom: 30px;
  display: flex;
  margin-top: 30px;
  width: 240px;
  justify-content: space-between;
}
