.app {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

.appContainer {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 0;
  }
}