* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    width: 1180px;
    height: 100px;
    background-color: slategray;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px 0;
}

/*Basket*/
.basket_wrapper {
    margin-top: 50px;
}

.basket_container {
    width: 1180px;
    display: flex;
}

.product_block {
    width: 70%;
}

.product_container {
    width: 90%;
}

.product-item {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orderForm {
    width: 30%;
    height: 100%;
}

.order_container {
    display: flex;
    flex-direction: column;
}

.order_container input {
    margin: 10px 0;
    height: 30px;
    border: 3px solid #3f51b5;
    border-radius: 5px;
    outline: none;
}




